[submodule "SDL"]
	path = app/jni/SDL/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = SDL2
[submodule "SDL_image"]
	path = app/jni/SDL/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
	branch = release-2.8.x
[submodule "SDL_mixer"]
	path = app/jni/SDL/SDL_mixer
	url = https://github.com/libsdl-org/SDL_mixer.git
	branch = release-2.8.x
[submodule "SDL_ttf"]
	path = app/jni/SDL/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
	branch = release-2.24.x
